{%extends 'tem.html'%}

{%block content%}
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-outline-danger">드리머리 알아보기</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        {%for designer in designers%}
        <div class="col-md-4" onclick="location.href='/detail/{{designer.id}}'">
          <div class="card mb-4 shadow-sm">
            <img src="{{designer.image.url}}" alt="desingerImage" height="250px">
            <div class="card-body">
              <h3 class="card=title">{{designer.name}}</h3>
              <h5 class="card-text">{{designer.address}}</h5>
              <p class="card-text">{{designer.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>

</main>

{%endblock%}